div{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.pieza{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(178, 194, 207);
    border-radius: 10px;
    border: 1px solid black;
    width: 140px;
    height: 140px;
}